@{
    ViewBag.Title = "Home Page";
}

<div class="">
    @if (ViewBag.Researcher!= null)
    { 
        
   <h3>Имя @ViewBag.Researcher.Name</h3>

    <p class="lead"><a href="/Home/CreateResearch" class="btn btn-success btn-lg">Создать исследование</a></p>
        if (ViewBag.Researcher.Researches != null)
        {
            <table class="table table-striped table-hover ">
                <tr class="info">
                    <td><p class="lead">Название</p></td>
                    <td><p class="lead">Описание</p></td>
                    <td><p class="lead">Статус</p></td>
                    <td><p class="lead">Алгоритм</p></td>
                    <td><p class="lead">Исследование</p></td>
                    <td><p class="lead">Результат</p></td>
                    <td><p class="lead">Удалить</p></td>
                </tr>
                @foreach (var res in ViewBag.Researcher.Researches)
                {
                    <tr class="active">
                        <td><p>@res.Name</p></td>
                        <td><p>@res.Description</p></td>
                        <td><p>@res.State</p></td>
                        @if (res.CurentAlgorithm != null)
                        {
                            <td><p>@res.CurentAlgorithm.Name</p></td>
                        }
                        else
                        {
                            <td><p>None</p></td>
                        }
                        <td><p><a href="/Home/TheResearch/@res.Id" class="btn btn-success">View research</a></p></td>
                        <td><p><a href="/Home/Result/@res.Id" class="btn btn-info">View Result</a></p></td>
                        <td><p><a href="/Home/DeleteResearch/@res.Id" class="btn btn-danger">Delete</a></p></td>
                    </tr>
                }
            </table>
        }
    }
    else
    {
        <p>You are not authentification</p>
    }
</div>